<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('./nav')%>
        <div class="wrapper">
            <div class="create-msg">
                <h1>
                    Leave a note ✍️
                </h1>

                <form action="" method="POST">
                    <div class="form-pair">
                        <label for="title">
                            Title
                        </label>
                        <br>
                        <input name="title" type="text" required />
                    </div>
                    <div class="form-pair">
                        <label for="note">
                            Note
                        </label>
                        <br>
                        <textarea name="note" required></textarea>
                    </div>
                    <button>
                        Leave note
                    </button>
                </form>
            </div>
        </div>
</body>

</html>