<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="message-wrapper">
        <div class="message-text">
            <h2>
                <% if (msg.title){ %>
                    <%= msg.title %>
                        <% } else {%>
                            Lorem ipsum
                            <% } %>
            </h2>
            <p>
                <% if (msg.body){ %>
                    <%= msg.body %>
                        <% } else {%>
                            Lorem ipsum elis.
                            <% } %>
            </p>
        </div>

        <div class="message-info">
            <div class="message-author">
                <% if (msg.username && user){ %>
                    <%= msg.username %>
                        <% } else {%>
                            Anonymous
                            <% } %>
            </div>

            <div class="message-timestamp">
                <% if (msg.timestamp){ %>
                    <%= msg.timestamp %>
                        <% } else {%>
                            July 10, 2021
                            <% } %>

            </div>
        </div>

    </div>
</body>

</html>